.package_container{
    background-color: #fff1e9;
    border-radius: 10px;
    border: 1px solid #6c3323;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:1em 0px;
    width:25vw;
    align-items: center;
}

.package_details {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1.5em;
    text-align: center;
}

.price
{
    font-size: xx-large;
    
}

.description {
    font-size: x-large;
}

@media only screen and (max-width: 600px) {
    .package_container{
        width: 100%;
    }
}