.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
                                                
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero_img {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 100% 40%;
}



.hero_img img {
  visibility: hidden;
  overflow: hidden;
}

.plans_container {
  width:100%;
    
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #FAF2F0;
  /* align-self: stretch; */
}



@media only screen and (max-width: 768px) {
  .hero_img {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    object-fit: cover;
    object-position: 80% 80%;
  }

  .plans_container{
    flex-direction: column;
  }
}