
.plan_container {
    display: flex;
    flex: 1 1 0;
    align-items: stretch;
}

.plan_inner_container{
    margin:2em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 40vw;
    background-color: white;
    padding:2vw 6vw;
    min-height: 30vh;
    align-items: center;
    flex: 1;
    border: 1px solid rgba(60, 47, 47, 0.117647);
    box-shadow: 0px 12px 24px rgba(60, 47, 47, 0.101961);
    border-radius: 16px;

}

@media only screen and (max-width: 768px){
    .plan_inner_container{
        display: grid;
        width: 80vw;
        align-items: left;
        padding:5vw 8vw;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
    }
}


.plan_inner_container h2{
    text-align: center;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    /* font-size: large; */
}

.plan_inner_container hr {
    width: 100%;
    margin: 0;
    margin-bottom: 0.5em;
    border: 0;
    border-top: 1px solid rgba(60, 47, 47, 0.25);
}

.plan_inner_container p{
    padding-bottom: 1em;
}

.plan_inner_container .plan_terms {
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}

.plan_inner_container .price_line {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
}

.plan_inner_container .plan_price {
    display: flex;
    font-size: 1.5rem;
    /* font-weight: bold; */
    padding-bottom: 0.5em;
    text-align: center;
    font-size: 56;
}

.plan_inner_container .plan_header,.plan_footer {
    text-align: left;
    width: 100%;
}

.plan_inner_container ul {
    list-style: none;
    padding-bottom: 1em;
}

.plan_inner_container li {
    position: relative;
    padding-left: 2em;
    line-height: 1.5em;
    text-align: left;
}

.plan_inner_container li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background-color: #3C2F2F;
    transform: translateY(-50%);
}

.plan_inner_container li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.42em;
    width: 0.35em;
    height: 0.55em;
    border-right: 0.19em solid #FAF2F0;
    border-bottom: 0.24em solid #FAF2F0;
    border-radius: 15%;
    transform: translateY(-60%) rotate(45deg);
}

.plan_inner_container > .button {
    margin-top: auto;
    width: 100%;
}