.header {
    background-color: #fff1e9;
}

.heading {
    padding: 0.5em;
    padding-bottom: 0em;
    text-align: center;
    
}

.subheading {
    text-align: center;
    padding-bottom:0.5em;
    font-size: small;
}

.competition {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    /* padding:4em; */
}


.competition_details {
    background-color: #fff1e9;
    /* width: 50%; */
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em 0px;
}

.competition_details p {
    padding: 0 2em;
}

.competition_img img{
    width: 50%;
    align-items: center;
    text-align: center;
}


.competition_img img{
    width:100%;
    height:100%;
    object-fit: cover;
    /* object-position: 100% 80%; */
}

.competition_details h2{
    font-size: xxx-large;
}

.inclusions {
    background-color: white;
    border-radius: 10px;
    list-style-type: none;
    padding: 0.5em;
    margin:1em;
    font-size: xx-large;

}

.packages {
    display: flex;
    flex-direction: row;
    width:100vw;
    justify-content:space-around;
    padding: 2em;
}

.introduction {
    padding: 0.5em;
    width: 50vw;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.introduction p {
    width: 50vw;
    padding:2em;
}

.start_date {
    font-size: x-large;
}

.competition_winner {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    font-size: x-large;
    text-align: center;
}

.competition_winner li{
    list-style-type: none;
    margin-top: 0.25em;
}

.package {
}

@media only screen and (max-width: 600px) {
    .header {
        background-color: white;
    }

    .competition {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
    }

    .competition_img {
        width: 100%;
        margin: 0;
    }

    .competition_details {
        width: 100%;
        margin: 0;
        padding: 2em 0;
        text-align: center;
    }

    .competition_img img{
        width:100%;
        display: block;
        object-fit: cover;
    }

    .competition_details h2{
        font-size: xx-large;
    }

    .inclusions {
        background-color: white;
        border-radius: 10px;
        list-style-type: none;
        padding: 0.5em;
        margin:1em;
        font-size: large;
    }

    .packages {
        flex-direction: column;
        padding: 1em;
    }

    .competition_winner {
        padding: 2em;
    }

    
    .introduction {
        padding: 0.5em;
        width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }
    
    .introduction p {
        width: 100vw;
        padding:2em;
    }
}

